@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.765);
}

img {
    max-width: 100%;
}